@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-clock:before {
	content: "\e023";
}
.icon-history:before {
	content: "\e022";
}
.icon-compass:before {
	content: "\e021";
}
.icon-location:before {
	content: "\e020";
}
.icon-mail:before {
	content: "\e01f";
}
.icon-user:before {
	content: "\e041";
}
.icon-tag:before {
	content: "\e019";
}
.icon-cart:before {
	content: "\e01a";
}
.icon-basket:before {
	content: "\e01b";
}
.icon-cog:before {
	content: "\e04f";
}
.icon-gift:before {
	content: "\e053";
}
.icon-meter-medium:before {
	content: "\e059";
}
.icon-meter-fast:before {
	content: "\e05a";
}
.icon-rocket:before {
	content: "\e057";
}
.icon-arrow-left:before {
	content: "\e0be";
}
.icon-google-plus:before {
	content: "\e0df";
}
.icon-facebook:before {
	content: "\e0e3";
}
.icon-twitter:before {
	content: "\e0e6";
}
.icon-linkedin:before {
	content: "\e118";
}
.icon-tag-2:before {
	content: "\e174";
}
.icon-location-2:before {
	content: "\e173";
}
.icon-switch:before {
	content: "\e14d";
}
.icon-locked:before {
	content: "\e13e";
}
.icon-location-3:before {
	content: "\e166";
}
.icon-heart:before {
	content: "\e169";
}

.pesquisa{
	width:1230px;
	height:30px;
	margin-top:0px;
	margin-left:60px;
	background:#FFF;
	background-image:url(assets/img/bg-search.png);
	padding:10px;

}

.form-inline{
	margin: 0 30px;
}
.input-xxlarge{
	height:30px !important;
}

.corpo{
	width:1250px;
	margin: 15px 60px;

}

.menu{
	width:230px;
	height:615px;
	margin:0 0;
	background:#FFF;
	float:left;
}

.viagens{
	width:880px;
	min-height:745px;
	float:right;
	margin-bottom:30px;
	background-color: #FFF;
	padding-bottom: 50px;
}

.viagens p {
	text-align: center;
	font-size:30px;
	margin-top: 40px;
}

.mviagens {
	margin-top:30px;
	font-size:30px;
}

.table {
	width:700px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:50px;
	background-color:#FFF;
}

.table td {
	border-top:1px solid #F0F0F0 !important;
}

tbody tr:hover td.hasRowSpan {
          background-color: none;   /* Tira o efeito hover da primeira linha */
}

tbody a:link, tbody a:visited {

	text-decoration: none;

}

.thumbnails{
	float:left;
	margin:0 0 10px 30px;
}

.thumbnail{
	background:#FFF;
}

.thumbnail span{
	position:absolute;
	width:60px;
	height:20px;
	background-color:#F60;
	padding:5px;
}

.formCustom{
	margin-left:0px;
}


.rodape{
	height:30px;
	padding:15px;
	background:#FFF;
}

.clear { clear: both; }

.copy{
	float:left;
}

.nav nav-pills{
	float:right;
}

.maisopcoes{
	margin: 0 auto;
	width: 700px;
	padding: 20px;
}

.input-small{
	height:30px !important;
	width:65px !important;

}

.span form-line{
	margin:0 0 ;

}

.img-circle {
	width:200px;
	height:200px;
	margin-top:20px;
	margin: 0 auto !important;
	text-align: center;
}

.nomecliente {
	margin-top:30px;
	font-size:30px;
}

.alterar{
	margin-top:30px;
	height:230px;
	
}

.alterar input[type=text], .alterar input[type=password], .alterar button[type=submit], .alterar input[type=email]{
	height:35px;
	width: 300px;
}

.alterar textarea {
	width: 300px;
	height: 200px
}

.alterar h1 {
	margin-top:25px;
	margin-bottom:25px;
	
}

.custom{
	margin-left: 0px !important;
}

.footer{
	margin-top: 10px;
}

.form-horizontal{
	width: 315px;
	margin: 0px auto !important;
}

.centerImg{
	text-align: center;
}

.contato1 {
		margin: 0 auto;
		width:300px;	
	}
	
.all {
	text-align:center;
	margin: 50px auto 50px;
}

.all h3 {
	font-size: 80px;
	color:#FFFFFF;
}

.cadastro {
	width: 300px;
	margin: 50px auto;
	background-color: #FFFFFF;
	padding: 20px;
	box-shadow: 2px 2px 40px 2px #696969;
}

.customBox  .form-horizontal{
	width: 300px;

}

.btnCadastrar {
	width:220px;
	margin: 0 auto;
}

.cadastro span {
	font-weight:bold;
}

.fundo {
	background-color:#e5e5e5;
	font-family: "Varela Round", sans-serif;
}